.fixed {
  position: fixed !important;
}
.sticky {
  position: sticky !important;
}
.opacity {
  opacity: 0.6;
}
.opacity-plus {
  opacity: 0.15;
}
.transparent {
  opacity: 0;
}
.container {
  padding: 0 2em;
}
.center {
  text-align: center;
}
.left {
  float: left;
  width: 50%;
}
.highlighted {
  background-color: lemonchiffon;
}
.link {
  text-decoration: none;
}
.link:hover {
  opacity: 0.8;
  color: deepskyblue;
}
.right {
  float: right;
  width: 50%;
}
.picture {
  width: 100%;
  display: block;
}
.tag {
  display: inline-block;
  background-color: skyblue;
  padding: 1px 8px;
  margin: 2px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 0.88em;
  color: white !important;
}
.tag:hover {
  opacity: 0.8;
}
.text {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.span {
  display: inline-block;
}
.white {
  color: #424949;
  background-color: #fff;
}
.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}
.white-trans {
  color: #424949;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky !important;
  top: 44px !important; /* height of header */
}
.no-weight {
  font-weight: normal;
}
body {
  font-family: -apple-system,
               BlinkMacSystemFont,
               Helvetica Neue,
               PingFang SC,
               Microsoft YaHei,
               Source Han Sans SC,
               Noto Sans CJK SC,
               WenQuanYi Micro Hei,
               sans-serif;
  margin: 0;
  padding: 0;
}
pre, code {
  padding: 0 4px;
  background-color: #f1f1f1 !important;
  font-family: Monaco, "Courier", monospace;
}
i {
  margin-right: 8px;
}
a {
  color: deepskyblue;
}
a:hover {
  opacity: 0.8;
}
img {
  background-image: url("//:0")
}
