.lmm-opacity {
  opacity: 0.6;
}
.lmm-level-opacity {
  opacity: 0.25;
}
.lmm-small {
  font-size: 14px !important;
}
.lmm-medium {
  font-size: 16px !important;
}
.lmm-large {
  font-size: 18px !important;
}
.lmm-xlarge {
  font-size: 20px !important;
}
.lmm-xxlarge {
  font-size: 22px !important;
}
.lmm-xxxlarge {
  font-size: 24px !important;
}
.lmm-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.lmm-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.lmm-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.lmm-container, .lmm-penal {
  padding: 0.01em 16px;
}
.lmm-bar {
  width: 100%;
  overflow: hidden;
}
.lmm-border {
  border: 1px solid #ccc !important;
}
.lmm-card-4 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.lmm-center .lmm-bar {
  display: inline-block;
  width: auto;
}
.lmm-bar:before, .lmm-bar:after, .lmm-container:after, .lmm-container:before, .lmm-row:after, .lmm-row:before {
  content: "";
  display: table;
  clear: both;
}
.lmm-bar .lmm-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block;
}
.lmm-border {
  border: 1px solid #ccc !important;
}
.lmm-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lmm-button:hover {
  background-color: #ccc !important;
}
.lmm-hover:hover {
  opacity: 0.60;
}
.lmm-bar .lmm-button {
  white-space:normal;
}
.lmm-center {
  text-align: center !important;
}
.lmm-display-container {
  position: relative;
}
.lmm-grey {
  color: #424949;
  background-color:#9e9e9e!important}
.lmm-left {
  float: left;
}
.lmm-light-grey {
  color: #424949;
  background-color: #f1f1f1 !important;
}
.lmm-link {
  text-decoration: none;
}
.lmm-left .lmm-margin {
  margin: 16px 8px 16px 8px !important;
}
.lmm-right .lmm-margin {
  margin: 16px 8px 16px 8px !important;
}
.lmm-margin {
  margin: 16px !important;
}
.lmm-margin-right {
  margin-right: 16px !important;
}
.lmm-hover-light-grey:hover {
  color: #757575 !important;
}
.lmm-left .lmm-box {
  width: 100%;
  margin: 4px 0;
}
.lmm-right .lmm-box {
  width: 100%;
  margin: 4px 0;
}
.lmm-padding-large {
  padding: 12px 24px !important;
}
.lmm-right {
  float: right !important;
}
.lmm-round-xlarge {
  border-radius: 16px;
}
.lmm-tag {
  display: inline-block;
  text-align: center;
  margin-bottom: 8px !important;
}
.lmm-white {
  color: #424949;
  background-color: #fff !important;
}
.lmm-white-trans {
  color: #424949;
  background-color: #fff !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  letter-spacing: 6px;
}
pre, code {
  padding: 0 4px;
  background-color: #f1f1f1 !important;
  font-family: Monaco, "Courier", monospace;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #424949;
  background-color: #fff;
}