<div>
  <div class="container">
    <!-- left (edit) -->
    <div class="left" style="width:50%">
      <div class="container">
        <input v-model="title" placeholder="title">
        <div align="right">
          <select v-model="categoryID">
            <option disabled value="">Select one category</option>
            <option v-for="ctg in categories" :key="ctg.id" :value="ctg.id">{{ ctg.name }}</option>
          </select>
        </div>
        <br>
        <textarea v-model="text" v-on:input="textPreview = marked(text)" placeholder="text"></textarea>
      </div>

      <div class="text-left container">
        <p>Tags</p>
        <form v-for="tag in tags" :key="tag.name">
          {{ tag.name }}<input type="submit" value="Delete" @click.prevent="onRemoveTag(tag)">
        </form>
        <form>
          <input size="32" v-model="newTagName" placeholder="input new tag here">
          <input type="submit" value="Add" @click.prevent="onAddTag(newTagName)">
        </form>
      </div>

    </div>

    <!-- right (preview) -->
    <div class="right" style="width:50%">
      <div class="container">
        <span id="title-preview">{{ title }}</span>
        <br>
        <br>
        <div id="text-preview" v-html="textPreview" v-hljs style="text-align:left"></div>
      </div>
    </div>

  </div>
  <br>
  <button v-on:click="onSubmit">Submit</button>
</div>
