.center {
  text-align: center;
}
.container {
  &:before, &:after {
    clear: both;
    content: "";
    display: table;
  }
}
.link {
  background-color: white;
  color: $font_color;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    color: dodgerblue;
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
