.center {
  text-align: center;
}
.container {
  &:before, &:after {
    clear: both;
    content: "";
    display: table;
  }
}
.link {
  background-color: $color_primary;
  color: $color_text;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
    color: $color_accent;
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
